{% load static %}
{% block content%}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'AdminLogin.css' %}">

    <meta charset="utf-8" />
    <title>Admin Login | eBiruwa</title>
    <link rel="stylesheet" href="{% static '/AdminLogin.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/3a78a9c112.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="title-text">
        <div class="title login">
          <a href= "/index.html">
            <img
              src="{% static '/Media/eBiruwa Transparent Logo/Admin eBiruwa.png' %}"
              alt=""
              height="59"
              width="200"
            />
          </a>
        </div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked />
          <input type="radio" name="slide" id="signup" />
          <label for="login" class="slide login">Login</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form action="#" class="login">
            <div class="field">
              <input type="text" placeholder="Email Address" required />
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required />
            </div>
            <div class="pass-link">
              <a href="LoginRegister.html"> <i class="fas fa-user">&nbsp;&nbsp; </i>Login as User instead?</a>
            </div> 
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login" />
            </div>
          </form>
          <form action="#" class="signup">
            <div class="field">
              <input type="text" placeholder="Username" required />
            </div>
            <div class="field">
              <input type="password" placeholder="Email Address" required />
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required />
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="">
                  <form action="#" class="signup">
                <div class="field">
                  <input type="text" placeholder="Username" required />
                </div>
                <div class="field">
                  <input type="password" placeholder="Email Address" required />
                </div>
                <div class="field">
                  <input type="password" placeholder="Password" required />
                </div>
                <div class="field btn">
                  <div class="btn-layer"></div>
                  <input type="submit" value="Signup" />
                </div>
              </form>" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
    </script>
  </body>
</html>
{% endblock %}